<!DOCTYPE html>
<html lang="en" ng-app="app" >
<head>
    <link rel="stylesheet" type="text/css" src="/admin.css"/>
    <meta charset="UTF-8">
    <title>Login Page</title>
</head>
<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
<script src="/AdminApp.js"></script>
<script>
</script>

<body ng-controller="ctrl1">
<h1> Login Page</h1>


<form id="ServerList" >
    <table id ="ServerTable">


        <tr ng-repeat="server in serverTable" id={{'server'+$index}} ng-click="divhandle(this,$index)" >
            <td>
                <div><h1>{{ server.ip }}</h1></div>
                <div id="info"  ng-hide="IsHidden[$index]"><br>{{'Discription:'+server.Description}}</br> <br>{{'Virtual: '+server.IsVirtual }}<br> {{"Owened by:" +server.Owner}} <input type="button" ng-click="RemoveServer($index)" value="remove"/> </div>
            </td>
        </tr>

    </table>
</form>
<form id="AddServerForm" >
    <h2>Add a Server to Database</h2>
    <div class="IpBox" id="IpAdd">Ip address: <input type="text" maxlength="3" value="" name="ip" ng-model="ip[0]"/>.<input type="text" maxlength="3" value="" name="ip" ng-model="ip[1]"/>.<input type="text" maxlength="3" value="" name="ip" ng-model="ip[2]"/>.<input type="text" maxlength="3" value="" name="ip" ng-model="ip[3]"/></div>
    <div class="owner" id="owner">Owner? <input type="text" ng-model="owner"/></div>
    <div class="description" id="description">Short Description <input type="text" ng-model="dis"/></div>
    <div> Is Virual?<select id="Virtual" ng-model="select" ><option value="Yes">Yes</option><option value="No">No</option></select></div>
    <input type="button" value="Add New server" ng-click="socketConnection()"/>

</form>

</body>
</html>