<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/LoginStyle.css">
    <meta charset="UTF-8">
    <title>Login Page</title>
</head>
<script type="text/javascript">
 alert("Wrong Username or Password");
    window.location.href="/login"
</script>
<!--
<div class="login-page">
    <div class="form">
        <form class="login-form" method="POST" action="">
            <input type="text" placeholder="username" name="username"/>
            <input type="password" placeholder="password" name="password"/>
            <button type="submit" >login</button>
            <p class="message">Not registered? <a href="/register">Create an account</a></p>
        </form>
    </div>
</div>
-->
</body>
</html>